<div class="banner text-center">
	<h1>All my cocktails index</h1>
</div>

<div class="container">

	<div class="row">
	<% @cocktails.each do |cocktail| %>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="card">
				<h3><%= cocktail.name %></h3>
				 <%= link_to cocktail_path(cocktail) do %>
					<div class="card-details">
						<p>Click for more details</p>
						<ul> <% cocktail.doses.each do |dose| %>
							<li><p><%= "#{dose.ingredient.name} - #{dose.description}" %></p></li>
							<% end %>
						</ul>
					</div>
					<% end %>
			</div>
		</div>
		<% end %>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="card" id="add_cocktail">
				<h2><i class="fas fa-plus-circle"></i></h2>
				<h3>Add a cocktail</h3>
				<%= link_to new_cocktail_path do %>
				<div class="card-details">
						<p>Click to add a new cocktail</p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>