.card {
	background-size: cover;
	font-family: $body-font;
	position: relative;
	display: flex;
	padding: 15px;
	margin: 20px;
	height: 200px;
	background-color: #D6D6D6;
	color: white;
	text-shadow: 2px 2px gray;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.6);
	justify-content: center;
	align-content: center;

	h3 {
		margin: 0;
		position: absolute;
		top: 40px;
		left: 40px;
		font-size: 32px;
	}
}


.card-details{
	font-family: $headers-font;
	position: absolute;
	text-shadow: none;
	top: 0;
	bottom: 0;
	left:0 ;
	right: 0;
	margin: 0;
	z-index: 2;
	padding: 15px;
	opacity: 0;
	transition: all 0.3s ease;
	overflow: scroll;

	&:hover {
		padding: 15px;
		display: block;
		background-color: white;
		opacity: 0.8;
		color: black;
	}

	p {
		text-align: left;
	}

	ul {
		list-style: none;
		padding-left: 10px;
		margin-left: 0px;
	}

	li {
		margin-left: 10px;
	}

}

#add_cocktail {
	color: #7A221C;
	display: flex;
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(chihuahua_small1.jpg);
	background-size: cover;
	text-shadow: 1px 1px 3px #EBEBEB;
	align-items: center;

	h2 {
		position: absolute;
		font-size: 64px;
		margin: auto 0;
		left: 30px;
	}

}
